html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0 auto
}

@media all and (max-width: 1100px) {
    body {
        margin: 0 40px;
    }
 }

@media all and (max-width: 900px) {
   body {
       margin: 0 30px;
   }
}