html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}


* {
    box-sizing: inherit;
}

body {
    background-color: rgb(238, 238, 238);
}

.card {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 100px auto;
    width: 30%;
    border-radius: 4px;
}

.card-image {
    position: relative;
}

img {
    position: absolute;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

h3 {
    font: 1em/1.2 Georgia, serif;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

p {
    text-align: left;
}

.card-content-button {
    background-color: rgb(0, 153, 0);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.card-content {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 20px;
    text-align: right;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: translate(0, 230px);
}