html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #EEEEEE;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    border-bottom: 3px solid black;
}

img {
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    -webkit-box-shadow: 0px 1px 6px 0px #000000; 
    box-shadow: 0px 1px 6px 0px #000000;
}


.picture1 {
    float: right;
}

.picture2 {
    float: left;
}

.site-title {
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

/* .inline-p {
    width: 50%;
} */

blockquote {
    width: 45%;
    vertical-align: top;
    border-left: 5px solid #E1E1E1;
    padding-left: 10px;
    color:  #9AA0AA;
    font-style: italic;
    float: right;
}

.author {
    float: right;
    font-weight: bold;
}