@media all and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: stretch;
        border: none;
    }
 
    .menu-content {
        flex-direction: column;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
    }
 
    .mobile-menu {
        display: flex;
        justify-content: center;
    }
 
 }
 
 @media all and (max-width: 600px) {
     .site-title {
         text-align: center;
     }
 
     .menu-content li a {
         font-weight: bold;
     }
  
  }