@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

p {
    margin: 40px;
}

.btn {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
}

.click-me {
    background-color: #008000;
}

.email-me {
    background-color: #FF8C00;

}